#Server
Django==1.5.1
gunicorn==0.17.2
psycopg2==2.4.5
dj-database-url==0.2.0
wsgiref==0.1.2
gevent==0.13.4
celery>=2.3.3
django-celery>=3.0.11

Markdown==2.0.3
django-picklefield
Pillow==1.7.7

#Storage
boto==2.2.1
django-queued-storage==0.5
django-storages==1.1.4