{% extends "base.html" %}

{% block content %}{% load humanize %}{% load bleep %}
<section class="contents" id="entryitem-list">

{% if user.is_authenticated %}<a href="{% url 'blip-add-entry-to-list' entry_type.owner entry_type.slug %}" class="btn btn-info" id="quickpost"><i class="icon-edit icon-white"></i></a>{% endif %}

<h3 class="header">{{ entry_type.name }}</h3>

{% for entry in object_list %}
{% if forloop.first %}<p class="last-posted">Last posted {{ entry.pub_date|date:"l, F j, Y" }}.</p>{% endif %}

<div class="blip" id="blip-{{ entry.id }}">

	<span class="u-wrap">
	<img id="avatar-small" width="24" height="24"
	 src="https://secure.gravatar.com/avatar/{{ entry.owner|email_hash }}?s=32"><h2 class="u-2"><a href="/{{ entry.owner|slugify }}" class="username" title="{{ entry.owner }} {{ entry.owner.id }}">{{ entry.owner }}</a></h2>
	</span>
	
	<div class="entry">{{ entry.body_html|safe }}</div>
	<span class="date"><i class="icon-time"></i> <a href="{{ entry.get_absolute_url }}">{{ entry.pub_date|naturaltime }}</a></span> {% if entry.entry_type %}<span class="meta">in <a href="{% url 'blip-entry-list' entry.entry_type.owner entry.entry_type.slug %}">{{entry.entry_type }}</a></span>{% endif %}
	
</div>

{% endfor %}

{% if is_paginated %}
  <div class="pagination">
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">&larr; Older entries</a>
    {% endif %}
    {% if page_obj.has_previous and page_obj.has_next %}|{% endif %}
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Newer entries &rarr;</a>
    {% endif %}
  </div>
{% endif %}

</section>

{% endblock %}
