{% extends "base.html" %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block content %}

<section class="contents" id="lists">

<h3 class="header">Public lists <small><a class="view-all" href="{% url blip-add-list %}">Create a new list</a></small></h3>

{% for entrytype in entrytype_list %}
<div id="{{ entrytype.slug }}" class="blip-group">

  <h2>{{ entrytype.name }} <a class="view-all" href="{% url blip-entry-list entrytype.owner entrytype.slug %}">View all</a></h2>
  {% if entrytype.can_self_add %}
    <a class="add-more" href="{% url blip-add-entry entrytype.slug %}">Post something</a>
  {% endif %}
 
{% comment %} 
  {% for item in entrytype.items|slice:":5" %}
	  {% if forloop.first %}<p class="last-posted">{{ item.pub_date|date:"l, F j, Y" }}</p>{% endif %}
	  <div class="quickpost">
	  <h2>{{ item.body_html|safe }}</h2>
	  <p class="date">{{ item.pub_date|date:"g:i:s A" }} by {{ item.owner }}</a></p>
	  </div> 
  {% endfor %}
{% endcomment %}
    
</div>
{% endfor %}

</section>

{% endblock %}
